.theme--en {
  --v-color-primary: hsl(165, 60%, 28%);
  --v-color-accent-primary: hsl(165, 60%, 36%);
  --v-color-accent-primary-hover: hsl(165, 60%, 40%);
  --v-color-accent-primary-focus: hsl(165, 60%, 40%);
  --v-color-accent-primary-active: hsl(165, 60%, 40%);
}

.theme--es {
  --v-color-primary: hsl(215, 76%, 56%);
  --v-color-accent-primary: hsl(215, 76%, 48%);
  --v-color-accent-primary-hover: hsl(215, 76%, 44%);
  --v-color-accent-primary-focus: hsl(215, 76%, 44%);
  --v-color-accent-primary-active: hsl(215, 76%, 44%);
}
