.fade-bright {
  animation: fadeBright var(--transition-duration) ease-in-out forwards;
}

@keyframes fadeBright {
  0% {
    filter: brightness(1);
    -webkit-filter: brightness(1);
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    filter: brightness(100);
    -webkit-filter: brightness(100);
  }
}
