.slide-in-left {
  animation: slideInLeft var(--transition-duration) ease-in-out forwards;
}
@keyframes slideInLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-125%);
  }
}
